<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBManager.Properties.Settings.ScriptDataConnectionString"
            connectionString="Data Source=116.120.238.52,3130;Initial Catalog=ScriptData;User ID=sa;Password=x2akstp"
            providerName="System.Data.SqlClient" />
        <add name="DBManager.Properties.Settings.LocalizationConnectionString"
            connectionString="Data Source=116.120.238.52,3130;Initial Catalog=Localization;Persist Security Info=True;User ID=sa;Password=x2akstp"
            providerName="System.Data.SqlClient" />
        <add name="DBManager.Properties.Settings.ScriptData_TWConnectionString"
            connectionString="Data Source=116.120.238.52,3130;Initial Catalog=ScriptData_TW;Persist Security Info=True;User ID=sa;Password=x2akstp"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>