<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBManager.Properties.Settings.LocalizationConnectionString"
            connectionString="Data Source=116.120.238.52,3130;Initial Catalog=Localization;Persist Security Info=True;User ID=Script_User;Password=x2_tmzmflqxm"
            providerName="System.Data.SqlClient" />
        <add name="DBManager.Properties.Settings.ScriptData_TWConnectionString"
            connectionString="Data Source=116.120.238.52,3130;Initial Catalog=ScriptData_TW;Persist Security Info=True;User ID=Script_User;Password=x2_tmzmflqxm"
            providerName="System.Data.SqlClient" />
        <add name="DBManager.Properties.Settings.ScriptData_HKConnectionString"
            connectionString="Data Source=116.120.238.52,3130;Initial Catalog=ScriptData_HK;Persist Security Info=True;User ID=Script_User;Password=x2_tmzmflqxm"
            providerName="System.Data.SqlClient" />
        <add name="DBManager.Properties.Settings.ScriptData_JPConnectionString"
            connectionString="Data Source=116.120.238.52,3130;Initial Catalog=ScriptData_JP;Persist Security Info=True;User ID=Script_User;Password=x2_tmzmflqxm"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>